main {
    display: flex;
    flex-direction: column;
}
#presentacion {
    background-image: url("/img/equipo.jpg");
    background-size: 90rem;
}
p.titulo {
    height: 0.5em;
}
.presentacion p.subtitulo {
    padding: 0 15rem;
}


/* CARROUSEL + FORMULARIO */
#contacto {
    margin: 1rem 0 3rem 0;
}
#container-slider {
    width: 22rem;
    height: 33.5rem;
}

.btn-left {
    transform: translate(0rem, -18rem);
    color: rgb(34, 79, 121);
}
.btn-right {
    transform: translate(20rem, -21rem);
    color: rgba(34, 79, 121);
}
.txt-div {
    transform: translateY(-10rem);
    width: 100%;
    height: 5rem;
}
#puntos {
    transform: translate(8rem,-8rem);
}
#formulario {
    width: 40rem;
    height: max-content;
    padding: 1rem 4rem 1rem 4rem;
    margin: 0;
}
#form_trabajadores {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    padding: 0;
}

#datos_form input, select, textarea {
    height: 1.7rem;
    margin-bottom: .4rem;
}
.file-select {
    position: relative;
    margin: 0.2em 0 1em 0;

  }
  
.file-select::before {
    background-color:  rgb(14, 40, 80);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.66);
    content: url(../assets/upload.svg) ;
    position: absolute;
    width: 100%;
    padding: 0;
    cursor: pointer;

}
  
.file-select input[type="file"] {
    opacity: 0;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    #presentacion {
        width: 100%;
        background-size: 80rem;
    }
    @media screen and (max-width: 700px) {
        #presentacion {
            background-size: 60rem;
        }
        #formulario {
            width: 30rem;
            height: max-content;
            margin: 0;
        }
        @media screen and (max-width: 580px) {
            #presentacion {
                background-size: 40rem;
                margin: 85px 0 5px 0;
            }
            #formulario {
                width: 35rem;
            }
            @media screen and (max-width: 380px) {
                #contacto {
                    width: 100%;
                    padding: 0.3em 0 0 0;
                    margin: 0;
                    
                }
                #container-slider {
                    padding: 0;
                    margin: 0;
                }
                #formulario {
                    width: 23rem;
                    padding: 2em ;

                }
            }    

            

            
    
        }
    }


}




