main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#presentacion {
    background-image: url("/img/mapa.jpg");
    background-size: 90rem;
}
p.titulo {
    height: 0.5em;
}
.presentacion p.subtitulo {
    padding: 0 15rem;
}

.seccion__seguimiento {
    align-self: center;
    justify-self: center;
    list-style: none;
    margin: 1rem 0;
    padding: 3rem 1rem;
    width: max-content;
    border: 1px solid white;
    box-shadow: 0px 0px 1px 1px rgb(150, 149, 149,0.1);
    background-color: rgb(203, 202, 202,0.1) ;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
form#form__norden {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    border-bottom: 1px solid white;
    padding-bottom: 3rem ;

}
form div.form__botones {
    display: inline-flex;
    align-items: center;
    align-content: center;

}

form input {
    height: 35px;
    width: 350px;

    border: 1px solid rgb(56, 56, 56);
    text-indent: 10px;
    box-shadow: 0px 7px 7px -7px rgb(6, 6, 6);
}

#buscar {
    height: 35px;
    width: 100px;
    font-size: 1em;
    background: linear-gradient(#3f9bbd,40%, rgb(14, 40, 80));   
}
#txt-button {
    margin-top: .3em;
}
#icono {
    display: none;
}
#reset {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    text-decoration: none;
    color: white;

    width: 30px;
    height: 35px;
    font-size: 1em;
    background:  linear-gradient( rgb(14, 40, 80),60%,#3f9bbd);  
}

.seccion__progreso {
    width: 100%;
    height: 100%;
    
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#txt-progreso  {
    display: none;
    flex-direction: column ;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
}
p#holanombre {
    font-size: 1.5em;
    color: white;
    height: 0.2em;
}

p#error {
    display: none;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1.2em;
    font-weight: 600;
    background-color: rgb(196, 196, 41);
    width: 380px;
    height: 1.5em;
    margin: 2.5rem 0;
    border-radius: 16px;
}




/* BARRA PROGRESO */


#barra__progreso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4.5rem 2rem;
    background-image: url("/img/seguimientoh.jpg");
    background-size: 52rem;
}


ul{
    display: flex;
    list-style: none;
    padding: 0;
    
}
ul li{

    display: flex;
    flex-direction: column;
    align-items: center;
}
ul li .icono{
    font-size: 45px;
    color: white;
    margin: 0 72px;
}
ul li .text{
    font-size: 16px;
    color: white;
    border-radius: 16px;
    border: 1px solid white;
    padding: .2em .4em;
    background-color: rgb(240, 248, 255, 0.1);
}

/* Progress Div Css  */

ul li .progreso{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 30px 0;
    color: #fff;
    background-color: rgb(95, 108, 121);
    
    
    display: grid;
    place-items: center;
    align-content: center;
    position: relative;
   
}
.progreso::after{
    content: " ";
    position: absolute;
    width: 160px;
    height: 7px;
    background-color: rgb(95, 108, 121);
    right: 30px;
}
.uno::after{
    width: 0;
    height: 0;
}
ul li .progreso .uil{
    display: none;
}
ul li .progreso p{
    font-size: 16px;
}



ul li .active{
    background-color: #128b1a;
    display: grid;
    place-items: center;
}
li .active::after{
    background-color: #128b1a;
}
ul li .active p{
    display: none;
}
ul li .active .uil{
    font-size: 20px;
    display: flex;
    
}

@media (max-width: 1100px) {
    .presentacion p.subtitulo {
        padding: 0 4rem;
    }
    @media (max-width: 980px) {
        .presentacion p.subtitulo {
            padding: 0 4rem;
        }
        #barra__progreso {
            background-image: url("/img/seguimientov.jpg");
            background-size: 32rem;
        }
        
        .form input{
            width: 350px;
            height: 35px;
        
            border: 1px solid rgb(56, 56, 56);
            text-indent: 10px;
            box-shadow: 0px 7px 7px -7px rgb(6, 6, 6);
        }
        
        ul{
            flex-direction: column;
        }
        ul li{
            flex-direction: row;
        }
        ul li .progreso{
            margin: 25px 65px;
            
        }
        .progreso::after{
            width: 5px;
            height: 80px;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }
        .uno::after{
            height: 0;
        }
        ul li .uil{
            margin: 8px 0;
        }
        @media (max-width:720px) {
            .form input {
                width: 350px;
            }
            #form__norden {
                padding: 0 0 0 1rem;
            }
            form input {
                width: 300px;

            }
            @media (max-width:540px) {
    
                body {
                    margin: 0;
                    width: 100%;
        
                    display:flex;
                    justify-content: center;
                    align-content: center;
                }
                .form input{
                    width: 300px;
                }
                #barra__progreso {
                    background-size: 29rem;
                    padding: 3rem 0;
                }
                @media (max-width:430px) {
                    .form input {
                        width: 250px;
                    }
                    #icono{
                        display: flex;
                    }
                    #txt-button {
                        display: none;
                    }
                    #buscar {
                        width: 2rem;
                    }
                    .seccion__seguimiento {
                        width: 100%;
                    }
                }
            }
        }
    }
}

